extends layout


//- passed into layout.jade when form.jade is rendered
block content
    h1= title
    if (errors)
        alert.alert-danger
        p= message
        ul
            each error in errors
                li=error.msg

    form(method="post" action="/create")
      br
      label(for="comment") Name
      input(type="text", name="comment", value=comment, size="64", style='margin-left: 40px;')
      br
      br
      p
      div.control-group
      label.control-label Sex
      div.controls
        label.radio.inline
          input(type="radio", name="optradio", id="gender_Male", value="Male", checked="", style='margin-left: 80px;')
          | Male
        label.radio.inline
          input(type="radio", name="optradio", id="gender_Female", value="Female", style='margin-left: 20px;')
          | Female
      br
      p
        label
          | Age
          input#age(type='number', name='age', placeholder='Your Age', size="20", style='margin-left: 53px;')
      br
      p
        label
          | Country
          input#country(type='select2', name='country', value='', placeholder='Choose Country', style='margin-left: 24px;')
      br
      //p Country name is #{europedata[1].name}
      br
      //p
      //  script(type='text/javascript').
      //    $('select').select2();
      //br
      input(type="submit", value="Apply")


      br
      br
    //- for comment in comments
    //  p= comment.title